name: CI

on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/cache@v4
      id: cache
      with:
        path: D:\msys64
        key: mcf_20251205_16.0.0_x64-ucrt
    - name: Prepare
      run: git config --global core.autocrlf false
    - uses: actions/checkout@v4
    - uses: fawazahmed0/action-debug@main
