name: CI

on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/cache@v5
      id: cache
      with:
        path: D:\msys64
        key: mcf_20260121_16.0.1_x64-ucrt
    - name: Prepare
      run: git config --global core.autocrlf false
    - uses: actions/checkout@v6
    - uses: fawazahmed0/action-debug@main
