name: toolchain

on:
  workflow_dispatch:
  schedule:
  - cron: '25 0 * * 4'

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/cache@v4
      id: cache
      with:
        path: D:\msys64
        key: mcf_20260106_16.0.0_x64-ucrt
    - name: Setup Toolchain
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        curl --ssl-no-revoke -OL https://gcc-mcf.lhmouse.com/mingw-w64-gcc-mcf_20260106_16.0.0_x64-ucrt_bdc7c3b5665d9ef6c3ecfa8015d3899910fcc9f5.7z --resolve "gcc-mcf.lhmouse.com:443:204.152.213.15"
        &'C:\Program Files\7-Zip\7z.exe' x *.7z -o'D:'
    - name: Prepare
      run: git config --global core.autocrlf false
    - uses: actions/checkout@v4
    - name: Make Toolchain
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        C:\msys64\usr\bin\bash -lc 'pacman -Sy base-devel compression git autoconf-wrapper automake-wrapper libtool mingw-w64-ucrt-x86_64-nasm mingw-w64-ucrt-x86_64-python-mako --noconfirm'
        C:\msys64\usr\bin\bash -lc 'pacman -Scc --noconfirm'
        xcopy /e C:\msys64 D:\msys64\
        xcopy /e /y D:\ucrt64 D:\msys64\ucrt64
        D:\msys64\usr\bin\bash -lc 'cd /d/a/mpv-win64/mpv-win64/mcfgthread; PATH=/usr/bin:/opt/bin:/ucrt64/bin PKG_CONFIG_PATH=/opt/lib/pkgconfig makepkg'
    - name: Delete Universal
      if: steps.cache.outputs.cache-hit != 'true'
      uses: mknejp/delete-release-assets@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: latest-universal
        assets: mcfgthread*
        fail-if-no-assets: false
        fail-if-no-release: false
    - name: Upload Universal
      if: steps.cache.outputs.cache-hit != 'true'
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: mcfgthread/*pkg*.xz
        tag: latest-universal
        overwrite: true
        file_glob: true
    - name: Delete V3
      if: steps.cache.outputs.cache-hit != 'true'
      uses: mknejp/delete-release-assets@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: latest-x86-64-v3
        assets: mcfgthread*
        fail-if-no-assets: false
        fail-if-no-release: false
    - name: Upload V3
      if: steps.cache.outputs.cache-hit != 'true'
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: mcfgthread/*pkg*.xz
        tag: latest-x86-64-v3
        overwrite: true
        file_glob: true
    - name: Delete V4
      if: steps.cache.outputs.cache-hit != 'true'
      uses: mknejp/delete-release-assets@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: latest-x86-64-v4
        assets: mcfgthread*
        fail-if-no-assets: false
        fail-if-no-release: false
    - name: Upload V4
      if: steps.cache.outputs.cache-hit != 'true'
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: mcfgthread/*pkg*.xz
        tag: latest-x86-64-v4
        overwrite: true
        file_glob: true
    - name: Delete Zen4+
      if: steps.cache.outputs.cache-hit != 'true'
      uses: mknejp/delete-release-assets@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: latest-amd-zen4+
        assets: mcfgthread*
        fail-if-no-assets: false
        fail-if-no-release: false
    - name: Upload Zen4+
      if: steps.cache.outputs.cache-hit != 'true'
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: mcfgthread/*pkg*.xz
        tag: latest-amd-zen4+
        overwrite: true
        file_glob: true
